{{define "htmlBody"}}
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Hi,</p>
<p>Thanks for signing up for Home Rent System account as an Admin. We're excited to have you on board!</p>
<p>For future reference, your user ID number is {{.id}}.</p>
<p>Please click the <a href="https://pango.vercel.app/admins/activate?token={{.activationToken}}">link</a> to activate the account.</p>
<p>Please note that this is a one-time link and it will expire in 3 days.</p>
<p>Thanks,</p>
<p>The Home Rent Team.</p>
</body>
</html>
{{end}}